@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, Helvetica, sans-serif;
}


@layer base {
  :root {
    --base-1: 0 0% 98.82352941176471%;
    --base-2: 0 0% 97.6470588235294%;
    --base-3: 0 0% 94.11764705882352%;
    --base-4: 0 0% 90.98039215686275%;
    --base-5: 0 0% 87.84313725490196%;
    --base-6: 0 0% 85.09803921568627%;
    --base-7: 0 0% 80.7843137254902%;
    --base-8: 0 0% 73.33333333333333%;
    --base-9: 0 0% 55.294117647058826%;
    --base-10: 0 0% 51.37254901960784%;
    --base-11: 0 0% 39.21568627450981%;
    --base-12: 0 0% 12.549019607843137%;
    --accent-1: 0 100% 99.41176470588235%;
    --accent-2: 7.499999999999973 100% 98.43137254901961%;
    --accent-3: 10.434782608695613 92.00000000000003% 95.09803921568627%;
    --accent-4: 12.272727272727302 100% 91.37254901960785%;
    --accent-5: 10.819672131147556 100% 88.0392156862745%;
    --accent-6: 10.769230769230774 95.12195121951221% 83.92156862745098%;
    --accent-7: 10.32258064516129 82.30088495575224% 77.84313725490196%;
    --accent-8: 10.08849557522124 74.83443708609273% 70.3921568627451%;
    --accent-9: 10.163934426229506 77.8723404255319% 53.92156862745098%;
    --accent-10: 10.10869565217391 73.01587301587303% 50.588235294117645%;
    --accent-11: 9.893617021276597 81.73913043478261% 45.09803921568628%;
    --accent-12: 7.868852459016397 49.59349593495935% 24.11764705882353%;
    --background: 0 0% 98.82352941176471%;
    --foreground: 0 0% 12.549019607843137%;
    --card: 0 0% 97.6470588235294%;
    --card-foreground: 0 0% 12.549019607843137%;
    --popover: 0 0% 98.82352941176471%;
    --popover-foreground: 0 0% 12.549019607843137%;
    --primary: 10.10869565217391 73.01587301587303% 50.588235294117645%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 97.6470588235294%;
    --secondary-foreground: 0 0% 39.21568627450981%;
    --muted: 0 0% 97.6470588235294%;
    --muted-foreground: 0 0% 39.21568627450981%;
    --accent: 10.10869565217391 73.01587301587303% 50.588235294117645%;
    --accent-foreground: 0 0% 100%;
    --destructive: 358.4810126582278 69.2982456140351% 55.294117647058826%;
    --destructive-foreground: 350.64935064935065 62.601626016260155% 24.11764705882353%;
    --border: 0 0% 85.09803921568627%;
    --input: 0 0% 85.09803921568627%;
    --ring: 0 0% 85.09803921568627%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
}
  .dark {
    --base-1: 0 0% 6.666666666666667%;
    --base-2: 0 0% 9.803921568627452%;
    --base-3: 0 0% 13.333333333333334%;
    --base-4: 0 0% 16.470588235294116%;
    --base-5: 0 0% 19.215686274509807%;
    --base-6: 0 0% 22.745098039215687%;
    --base-7: 0 0% 28.235294117647058%;
    --base-8: 0 0% 37.64705882352941%;
    --base-9: 0 0% 43.13725490196079%;
    --base-10: 0 0% 48.23529411764706%;
    --base-11: 0 0% 70.58823529411765%;
    --base-12: 0 0% 93.33333333333333%;
    --accent-1: 0 17.073170731707318% 8.03921568627451%;
    --accent-2: 10 24% 9.803921568627452%;
    --accent-3: 4.864864864864864 48.05194805194805% 15.098039215686276%;
    --accent-4: 3.934426229508196 64.21052631578948% 18.627450980392158%;
    --accent-5: 5 62.06896551724137% 22.745098039215687%;
    --accent-6: 6.923076923076925 54.929577464788736% 27.84313725490196%;
    --accent-7: 8.863636363636362 49.43820224719101% 34.90196078431373%;
    --accent-8: 10.434782608695647 50.21834061135372% 44.90196078431373%;
    --accent-9: 10.163934426229506 77.8723404255319% 53.92156862745098%;
    --accent-10: 10.94117647058823 81.73076923076924% 59.21568627450981%;
    --accent-11: 12.000000000000004 100% 74.50980392156863%;
    --accent-12: 10 85.71428571428571% 89.01960784313725%;
    --background: 0 0% 6.666666666666667%;
    --foreground: 0 0% 93.33333333333333%;
    --card: 0 0% 9.803921568627452%;
    --card-foreground: 0 0% 93.33333333333333%;
    --popover: 0 0% 6.666666666666667%;
    --popover-foreground: 0 0% 93.33333333333333%;
    --primary: 10.94117647058823 81.73076923076924% 59.21568627450981%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 9.803921568627452%;
    --secondary-foreground: 0 0% 70.58823529411765%;
    --muted: 0 0% 9.803921568627452%;
    --muted-foreground: 0 0% 70.58823529411765%;
    --accent: 10.94117647058823 81.73076923076924% 59.21568627450981%;
    --accent-foreground: 0 0% 100%;
    --destructive: 359.58041958041963 79.00552486187846% 64.50980392156863%;
    --destructive-foreground: 349.5652173913044 100% 90.98039215686275%;
    --border: 0 0% 22.745098039215687%;
    --input: 0 0% 22.745098039215687%;
    --ring: 0 0% 22.745098039215687%;
    --radius: 0.5rem;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

.animate-marquee-vertical {
  --duration: 40s;
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-marquee-horizontal {
  --duration: 40s;
  animation: marquee var(--duration) linear infinite;
}

@media (prefers-reduced-motion) {
  .animate-marquee-vertical,
  .animate-marquee-horizontal {
    animation: none;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}